@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-feature-description {
    @apply italic mx-16;
  }

  .main-feature-header {
    @apply flex items-center font-bold text-lg
  }
}

html, body {
  height: 100%;
  margin: 0;
}

#sidebar a {
  padding-top: 0.5rem/* 8px */;
  padding-bottom: 0.5rem/* 8px */;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#sidebar a.active {
  background-color: rgb(199 210 254 / 0.3);
  border-radius: 0.5rem/* 16px */;
}

img {
  image-rendering: pixelated;
}
